<fieldset *ngFor="let restaurant of restaurants">
  <font class="title">{{restaurant.title}}</font><br>
  <img src="{{restaurant.imageUrl}}" alt="{{restaurant.title}}" class="pimage">
    <p>
    <b>{{restaurant.location}} &nbsp;&nbsp;
        Call us! {{restaurant.phone}}
    </b><br>
    {{restaurant.description}}</p>
    <!--<p>{{restaurant.price | currency: 'USD'}}</p>-->
    <button [routerLink]="['/restaurants', 'edit', restaurant._id]">Edit</button>
    <button (click)='delete(restaurant._id)'>Delete</button>
</fieldset>
