body{
  font-family: Arial, Helvetica, sans-serif;
}
fieldset {
  display: inline;
  width: 350px;
  height: 350px;
  vertical-align: top;
}
img {
  width: 300px;
  height: 200px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  font-family: fantasy;
}
