<h2>Edit Restaurant: {{restaurant.title}}</h2>
<form (submit)="editRestaurant()">
  <p>Title: <input type="text" name="title" [(ngModel)]="restaurant.title"></p>
  <p *ngIf="restaurant.title.length < 4">Title must be at least 4 characters</p>
  <p>Description: <input type="text" name="description" [(ngModel)]="restaurant.description"></p>
  <p *ngIf="restaurant.description.length < 4">Description must be at least 4 characters</p>
  <p>Location: <input type="text" name="location" [(ngModel)]="restaurant.location"></p>
  <p *ngIf="restaurant.location.length < 4">Location must be at least 4 characters</p>
  <p>Phone: <input type="text" name="phone" [(ngModel)]="restaurant.phone"></p>
  <p *ngIf="restaurant.phone.length < 10">Phone number must be at least 10 characters</p>
  <p>Image URL: <input type="text" name="image_url" [(ngModel)]="restaurant.imageUrl"></p>
  <input type="submit">
</form>
