<div>
  <h1>Welcome to {{title}}!</h1>
</div>
<!-- begin menu-->
<div class="menu">
  <a [routerLink]="['/']">Home</a> |
  <a [routerLink]="['/restaurants']">Restaurants</a> |
  <a [routerLink]="['/restaurants', 'new']">Add Restaurant</a>
</div>
<!-- end menu-->
<div class="container">
<fieldset>
  <legend>router-outlet</legend>
<router-outlet></router-outlet>
</fieldset>
</div>
