<h2>Add a new Restaurant</h2>
<form (submit)="createRestaurant()">
  <p>Title: <input type="text" name="title" [(ngModel)]="newRestaurant.title"></p>
  <p *ngIf="newRestaurant.title.length < 4">Title must be at least 4 characters</p>
  <p>Description: <input type="text" name="description" [(ngModel)]="newRestaurant.description"></p>
  <p *ngIf="newRestaurant.description.length < 4">Description must be at least 4 characters</p>
  <p>Location: <input type="text" name="location" [(ngModel)]="newRestaurant.location"></p>
  <p *ngIf="newRestaurant.location.length < 4">Location must be at least 4 characters</p>
  <p>Phone: <input type="text" name="phone" [(ngModel)]="newRestaurant.phone"></p>
  <p *ngIf="newRestaurant.phone.length < 10">Phone number must be at least 10 characters</p>
  <p>Image URL: <input type="text" name="image_url" [(ngModel)]="newRestaurant.imageUrl"></p>
  <input type="submit">
</form>
